body {
    font-family: 'Roboto', sans-serif;
}

.TodoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TodoForm input {
    all: unset;
    box-sizing: border-box;
    margin-bottom: .5rem;
    border: 1px solid black;
    border-radius: 4px;
    padding: .5rem 1rem;
    width: 100%;
}

.TodoForm .button {
    width: 100%;
}

.button {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid blue;
    border-radius: 4px;
    color: blue;
    padding: .5rem 1rem;
    text-align: center;
}

.button:active {
    background-color: blue;
    color: white;
}

.button.primary:active {
    color: blue;
    background: white;
}

.button.primary {
    background-color: blue;
    color: white;
}

.TodoItem {
    border: 1px solid blue;
    border-radius: 4px;
    padding: 1rem;
}

.TodoItemBody {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.TodoItemBody > div {
    width: 100%;
    margin: .5rem 0;
}

.TodoItemBody p {
    all: unset;
}

.TodoItemActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TodoItemBody .TodoItemStatusWrap {
    font-weight: 100;
    margin-bottom: 0;
}

.TodoItemWrap {
    box-sizing: content-box;
    border-bottom: 1px solid black;
    padding: 2rem 0;
}

.TodoItemWrap:last-child {
    border:none;
}

.Page {
    margin: auto;
    width: 350px;
    max-width: 95%;
}

.Page section + section {
    margin-top: 5rem;
}

.TodoListEmpty {
    padding: 2rem;
    text-align: center;
    font-weight: 100;
}

.ConfirmationDialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ConfirmationDialogCard {
    padding: 2rem;
    border-radius: 4px;
    background-color: white;
}

.ConfirmationDialogHeader {
    position: relative;
}

.ConfirmationDialogClose {
    position: absolute;
    top: -3rem;
    right: -1rem;
    font-size: 2rem;
    cursor: pointer;
}

.ConfirmationDialogFooter {
    text-align: right;
}

.ConfirmationDialogActions > button + button {
    margin-left: 1rem;
}


.TodoList .TodoListColumn {
    display: none;
}

.TodoList .TodoListColumn:first-child {
    display: initial;
}

@media (min-width: 945px) {
    .Page {
        width: 1024px;
    }

    .TodoList .TodoListColumn {
        display: initial;
    }

    .TodoList {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .TodoList > div > div {
        display: none;
        border: none;
        padding: 0;
    }

    .TodoList .show-open .OPEN {
        display: block;
    }

    .TodoList .show-in_progress .IN_PROGRESS {
        display: block;
    }

    .TodoList .show-done .DONE {
        display: block;
    }

    .TodoListColumn {
        width: 31%;
    }

    .TodoListColumn .TodoItemWrap {
        margin-bottom: 2rem;
    }
}